@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 83px;
  /* Offset for sticky header */
}

body {
  margin: 0;
  font-family: "Outfit", "Outfit fallback", sans-serif;
  background-color: #FFF8E7;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #222;
  color: white;
  padding: 0.2rem;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.3rem;
}

.nav-links a:hover {
  color: #00539B;
  cursor: pointer;
}

.profile {
  text-align: center;
  padding: 4rem 1rem;
}

.profile img {
  border-radius: 50%;
  width: 200px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #00539B;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  opacity: 0.8;
}

.project-gallery {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.project-card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
  position: sticky;
  bottom: 0;
}

footer p {
  margin: 0;
}

#theme-toggle {
  position: absolute;
  right: 2rem;
  background: none;
  border: none;
  color: #e5e5e5;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

#theme-toggle:hover {
  color: #e4dcae;
}

.dark-mode #theme-toggle:hover {
  color: #FFCC33;

}

.socials {
  display: flex;
  gap: 10px;
  align-items: center;
}

.socials a svg {
  width: 24px;
  height: 24px;
  fill: white;
  transition: fill 0.3s ease;
}

.socials a:hover svg {
  fill: #00539B;
  cursor: pointer;
}

.dark-mode {
  background: rgb(41, 41, 41);
  color: white;
}

.dark-mode .project-card {
  background: #222;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
  border: 1px solid #444;
  /* Optional: adds definition since bg matches body */
}

.dark-mode footer {
  border-top: 1px solid #444;
  box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.1);
}

.dark-mode header {
  border-bottom: 1px solid #444;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

.dark-mode .profile img {
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}